<div class="row">
    <div class="container">
        <div class="page-header">
            <h1>Transmission Rails
                <small>Remote GUI in for Transmission</small>
            </h1>
        </div>
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
            <form class="login-box" name="passwordResetForm" ng-submit="requestPasswordReset()">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input class="form-control" ng-model="user.email" name="email" placeholder="email" required=""
                               type="text">
                    </div>
                </div>
                <button class="btn btn-success btn-sm btn-block" ng-disabled="passwordResetForm.$invalid" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>
