<div class="wrapper">
    <navbar></navbar>

    <div class="row" style="padding-top: 10px;">
        <div class="container">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="padding-left: 40px">
                            <img ng-src="{{user.avatar.avatar.thumb.url}}" image-fallback="{{user.gravatar}}">
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <h1>
                                {{user.name}}
                                <small>
                                    {{user.username}}
                                </small>
                          <span class="pull-right">
                            <a class="btn btn-default btn-md pull-right" href="/#/me/update"
                               ng-show="user.id === me.id">
                                <i class="fa fa-pencil-square-o"></i>
                                Edit Profile
                            </a>
                          </span>
                            </h1>
                            <h4>
                                online
                                <small>
                                    <span am-time-ago="user.last_seen"></span>
                                </small>
                            </h4>
                            <h4>
                                member since
                                <small>
                            <span>
                              {{user.created_at | amDateFormat:"MMMM Do YYYY"}}
                            </span>
                                </small>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="col-lg-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">User activity:</h3>
                    </div>
                    <div class="panel-body">
                        <pre>{{user | json}}</pre>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Profile</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-inbox"></i>
                              </span>
                                <input class="form-control" disabled="" ng-model="user.email" placeholder="email"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-skype"></i>
                          </span>
                                <input class="form-control" disabled="" ng-model="user.skype" placeholder="skype"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-twitter"></i>
                          </span>
                                <input class="form-control" disabled="" ng-model="user.twitter" placeholder="twitter"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-facebook"></i>
                          </span>
                                <input class="form-control" disabled="" ng-model="user.facebook" placeholder="facebook"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-addon">
                            <i class="fa fa-linkedin"></i>
                          </span>
                                <input class="form-control" disabled="" ng-model="user.linkedin" placeholder="linkedin"
                                       type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer></footer>
