<!DOCTYPE html>
<html lang="en" ng-app="Transmission">
<head>
  <meta name="lang" content="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tag %>
  <title>Merck</title>
  <link rel="stylesheet" type="text/css" href="<%= asset_path('application.css') %>"/>
</head>
<body>
  <div ng-view></div>
  <script src="<%= asset_path('application.js') %>"></script>
  <script>
    window.CSRF_TOKEN = '<%= form_authenticity_token %>';
  </script>
</body>
</html>